@import "./normalize.css";

$primary-color: green;
$backlight: #ffdf9a;

h1 {
  color: $primary-color;
}

li.task {
  list-style-type: none;

  label {
    padding: 0 10px;
  }
}

body {
	background-color: #a0B7f6;
}

#main {
	float: left;
}

#title {
	font-size: 30px;
	margin: 30px;
	font-weight: thick;
}

#fetch-form {
	margin-left: 30px;
	margin-top: 20px;
	width: 31%;
	height: 30%;
	float: left;
	padding-bottom: 45px;
	border-radius: 3px;
	background-color: $backlight;
	padding-left: 20px;
	padding-top: 10px;
}

#fetch-form  button, input {
	margin-left: 10px;
	margin-right: 10px;
}

.twin-containers {
	width: 31%;
	height: 50%;
	float: left;
	margin-left: 30px;
	background-color: $backlight;
}

.assign-form {
	background-color: $backlight;
	border-radius: 3px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 3px;
}

.assign-form > div {
	margin-top: 10px;
	text-align: center;
}

.assign-form > span {
	font-weight: thick;
	margin-right: 5px;
}

.assign-form  input {
	margin-left: 15px;
	margin-right: auto;
}

.pads {
	height: 100px;
	margin: 12px;
	width: 100px;
	float: left;
	border-radius: 3px;
	border-width: 2px;
	text-align: center;
	border-style: solid;
	background-color: #ffffff;
}

button {
	margin-top: 5px;
	margin-bottom: 5px;
}